@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


li{
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}
a{
    text-decoration: none;
}

section {
    background-color: rgb(233, 233, 233);
}

/*

    LANDING PAGE

*/
#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;        
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para{
font-size: 24px;
line-height: 2;
max-width:450px ;
}

.social__icons{
    margin-top: 16px;
    display: flex;
}

.social__link{
    background-color: #1DB954;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32;
    font-size: 14;
    margin-right: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.secondaryColor
{
 color: #1DB954;
}



/*

    NAVIGATION

*/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  padding: 0 20px;
    height: 100px;
    
}
#personal-logo{
    height: 50px;
    width: 50px;
    filter:invert(1);
}
.nav__link--list{
    display: flex;

}
.nav__link {
margin: 0 12px;

}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
    
}

.fa-adjust {
    font-size: 20px;

}